*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont{
    width: 40vw;
    height: 40vh;
    border: 2px solid rgb(20, 3, 3);
    position: relative;
    top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(233, 245, 241);
    border-radius: 15px;
    box-shadow: 5px -4px 5px 2px rgb(133, 131, 131);

    
}

.stopwatch{
    font-size: 3rem;
}

.mn, .sc, .msc{
    font-size: 3rem;
    /* background-color: antiquewhite; */
    background-color: rgb(116, 219, 219);
    margin: 5px 5px;
    border-radius: 15px;
}

.btn1{
    margin-top: 1rem;
    font-size: 1rem;
    padding: 14px;
    height: auto;
    width: 10vw;
    border-radius: 15px;
    cursor: pointer;
    
    
}

#start{
    background-color: rgb(73, 150, 73);
    color: white;
    box-shadow: 4px -4px 6px grey;
}

#stop{
    background-color: red;
    color: white;
    box-shadow: 4px -4px 6px grey;
}

#reset{
    background-color: blue;
    color: white;
    box-shadow: 4px -4px 6px grey;
}